<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="zh-CN">
<head th:include="/include/cdHead">


</head>
<body>

<div th:include="/include/nav::inNav"></div>
<form id="_scrf">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="hidden" name="id" id="id" value=""/>
</form>
<div class="container">
    <div class="row">
        <div class="col-md-12" align="center">
            <div class="panel panel-info">
                <div class="panel-heading">
                    人员列表
                </div>
                <div class="panel-body">
                    <table id="personList" class="display">
                        <thead>
                        <tr>
                            <th>姓名</th>
                            <th>工号</th>
                            <th>邮箱</th>
                        </tr>
                        </thead>

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


</body>
<script>
    var table;

    $(function () {
        table = $('#personList').DataTable({
            ajax: {
                url: '/user/personList',
                dataSrc: ''
            },
            columns: [
                {data: 'name'},
                {data: 'userno'},
                {data: 'username'}

            ]
        });
    });


</script>
</html>