<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="zh-CN">
<head th:include="/include/cdHead">


</head>
<body>

<div th:include="/include/nav::inNav"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12" align="center">
            <div class="panel panel-info">
                <div class="panel-heading">
                    修改密码
                </div>
                <div class="panel-body">
                    <form id="updatePassword">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div class="row">
                            <div class="col-md-4" align="center">
                                <label for="oldPassword">原密码</label>
                            </div>
                            <div class="col-md-8" align="center">
                                <input type="password" name="oldPassword" class="form-control" id="oldPassword" placeholder="oldPassword"/>
                            </div>

                            <div class="col-md-4" align="center">
                                <label for="newPassword">新密码</label>
                            </div>
                            <div class="col-md-8" align="center">
                                <input type="password" name="password" class="form-control" id="newPassword" placeholder="Password"/>
                            </div>
                            <div class="col-md-4" align="center">
                                <label for="newPassword_1">重复新密码</label>
                            </div>
                            <div class="col-md-8" align="center">
                                <input type="password" class="form-control" id="newPassword_1" placeholder="Password"/>
                            </div>
                            <br/>
                            <button type="submit" th:onclick="'javascript:update()'" class="btn btn-primary">修改</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


</body>
<script>
    function update() {
        if($('#newPassword').val()==$('#newPassword_1').val()) {
            $.ajax({
                type: "POST",
                url: "/user/updatePassword",
                data: $('#updatePassword').serialize(),
                success: function (data) {
                    if (data.type) {
                        alert("修改成功");
                    } else {
                        alert(data.msg);
                    }

                }
            });
        }else{
            alert("两次密码输入不一致");
        }
    }

</script>
</html>